{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {%if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Welcome to the best Movie Review Website</title>
        {%endif%}
    </head>
    <body>
        <!-- content block -->
        {% block content%}

            <!-- popular movies section -->
            <h3>Popular movies</h3>
            <ul>
                
                <li>{{macro.displayMovieList(popular)}}</li>
               
            </ul>
            <!-- upcoming movies -->
            <h3>Upcoming Movies</h3>
            <ul>
                
                <li>{{macro.displayMovieList(upcoming)}}</li>

                
            </ul>
            <!-- now showing -->
            <h3>Now showing</h3>
            <ul>
                
                <li>{{macro.displayMovieList(now_playing)}}</li>
               
            </ul>
       
        {% endblock %}
           
    </body>
</html>