{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {%if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Welcome to the best Movie Review Website</title>
        {%endif%}
    </head>
    <body>
        <!-- styleblock -->
        {% block styles%}
            <!-- to make sure jinja does notoveride bootstrap code -->
            {{super()}}
            <!-- url_for creates a link to the static file 'static' is the view function -->
            <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"
        {% endblock %}
        <!-- content block -->
        {% block content%}
            <!-- insert search form -->
            <div class="container">
                <form>
                    <input type="text" name="movie_query" placeholder="search for a movie" clas="form-control">
                    <input type="submit" value="Submit" class="btn btn-default">
                </form>
            </div>

            <!-- popular movies section -->
            <h3>Popular movies</h3>
            <ul>
                
                <li>{{macro.displayMovieList(popular)}}</li>
               
            </ul>
            <br>
            <!-- upcoming movies -->
            <h3>Upcoming Movies</h3>
            <ul>
                
                <li>{{macro.displayMovieList(upcoming)}}</li>

                
            </ul>
            <br>
            <!-- now showing -->
            <h3>Now showing</h3>
            <ul>
                
                <li>{{macro.displayMovieList(now_playing)}}</li>
               
            </ul>
       
        {% endblock %}
           
    </body>
</html>