
<!-- define the macro displaymovie list which takes the argument movie_list to give a list of movie objects -->
{% macro displayMovieList(movie_list) %} 
 <!-- for loop that will display movie titles -->
    {% for movie in movie_list %}

        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <img src="{{movie.poster}}" alt="{{movie.title}} poster"  class="img-responsive">
            <li class="text-center">
                <a href="/movie/{{movie.id}}">
                    {{movie.title|truncate(10)}} 
                    <!-- truncate filter modifies the content of the blcok added after the pipe character. shortnes the variable according to the parametes -->
                </a>
            </li> 
        </div>  
    {% endfor %}
{% endmacro %}

<!-- displaying reviews macro -->

{% macro displayReviews(review_list) %}
        {% for review in review_list %}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review card">
        
            <h2> {{ review.title}} </h2>
            <p> {{ review.review | truncate(30)}} </p>
        </div>
        {%endfor%}
{% endmacro %}

